{%- set environment = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['nodejs'],
        'dev_pkgs': ['npm'],
        'development': False,
    },
    'Debian': {
        'pkgs': ['nodejs'],
        'dev_pkgs': ['npm'],
        'development': False,
    },
    'RedHat': {
        'pkgs': ['nodejs'],
        'dev_pkgs': ['npm'],
        'development': False,
    },
}, merge=salt['pillar.get']('nodejs:environment')) %}